/* light reset */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  width: 90%;
  margin: 1in auto;
  padding: 2em 2em 5em;
  background: #eeeefa;
  border-radius: 12px;
}


.card {
  width: 172px;
}

img {
  width: 172px;
  height: auto;
}

.back {
  display: none;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.back p {
  text-align: center;
}

.back .name {
  font-size: 1.5em;
  font-weight: 400;
}

h1 {
  margin: 2em 0;
}

.faces {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
}
