@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* light reset */
html {
  box-sizing: border-box;
  font-family: Jost;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  width: 90%;
  margin: 1in auto;
  padding: 2em 2em 5em;
  background: #eeeefa;
  border-radius: 12px;
}


.card {
  width: 172px;
}

img {
  width: 172px;
  height: auto;
}

.back {
  display: none;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.back p {
  text-align: center;
}

.back .name {
  font-size: 1.5em;
  font-weight: 400;
}

h1, h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

h1 {
  margin: 1em 0 0;
}

h2 {
  margin: 1em 0;
}

.faces {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
}


.buttons {

  font-size: 1rem;

  > a {
    display: inline-block;
    border: 1px solid grey;
    text-decoration: none;
    font-family: sans-serif;
    border-radius: 6px;
    padding: 3px;
    background: #ddf;
    font-weight: 300;
  }
}

@media (width <= 600px) {

  h2 {
    margin-left: 1em;
  }

  div.faces {
    display: none;
  }

  html {
    font-size: 2.2vmin;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    width: 100vw;
    gap: 0.25vh;
    padding: 0;
    margin: 5vh auto;
    text-align: center;
    height: 90vh;
    padding: 1em;
  }
}
